@import 'tailwindcss';

:root {
	--color-bg-over: #06014066;
}

@layer base {
	svg {
		max-width: 100%;
	}

	.font-lato {
		font-family: 'Lato', sans-serif;
	}

	.font-audiowide {
		font-family: 'Audiowide', sans-serif;
	}
}

@layer utilities {
	.container {
		@apply mx-auto px-5 md:px-10;
	}

	.bg-over {
		background-color: var(--color-bg-over);
	}

	.bg-menu-hookah-icon {
		background: url('/menu-hookah-icon.svg') no-repeat center top 50px;
	}
}
